<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<p><%= rows[0].id %></p>

<p><%= rows[0].name %></p>

<p><%= rows[0].content %></p>

</body>
</html>